html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  background: radial-gradient(ellipse at center, #fff 0, #d3eff8 100%);
  font-color: #45565c;
}

.container-fluid {
  height: 100%;
  display: table;
  width: 70%;
  padding: 0;
}

.row-fluid {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.centering {
  float: none;
  margin: 0 auto;
}

.center {
  margin: auto;
  width: 100%;
  padding: 10px;
}

#Celsius {
  width: 20px;
  fill: #859ba3;
}

#weathericon {
  position: relative;
}
