html,
body {
  height: 100%;
  margin: 0;
  padding: 0
}

body {
  background: radial-gradient(ellipse at center, #fff 0, #d3eff8 100%);
  background-size: cover;
}

.container-fluid {
  height: 100%;
  display: table;
  width: 70%;
  padding: 0;
}

.row-fluid {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.centering {
  float: none;
  margin: 0 auto;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
